@import "tailwindcss";
@import "@cozy/styling/theme.css";
@import "@cozy/ui/styles.css";
@source "../../../../node_modules/@cozy/ui";

:root {
  --background: oklch(0.9726 0.0086 264.5223);
  --foreground: oklch(0.3440 0.0630 254.5895);
  --card: oklch(0.9726 0.0086 264.5223);
  --card-foreground: oklch(0.3440 0.0630 254.5895);
  --popover: oklch(0.9726 0.0086 264.5223);
  --popover-foreground: oklch(0.3440 0.0630 254.5895);
  --primary: oklch(0.5735 0.1160 250.2197);
  --primary-foreground: oklch(0.9726 0.0086 264.5223);
  --secondary: oklch(0.7818 0.0658 249.3811);
  --secondary-foreground: oklch(0.3440 0.0630 254.5895);
  --muted: oklch(0.8834 0.0344 249.5870);
  --muted-foreground: oklch(0.4198 0.0942 254.3441);
  --accent: oklch(0.6664 0.1002 248.6961);
  --accent-foreground: oklch(0.3440 0.0630 254.5895);
  --destructive: oklch(0.4198 0.0942 254.3441);
  --destructive-foreground: oklch(0.3440 0.0630 254.5895);
  --border: oklch(0.7818 0.0658 249.3811);
  --input: oklch(0.7818 0.0658 249.3811);
  --ring: oklch(0.5211 0.1199 252.9869);
  --chart-1: oklch(0.5735 0.1160 250.2197);
  --chart-2: oklch(0.5211 0.1199 252.9869);
  --chart-3: oklch(0.4198 0.0942 254.3441);
  --chart-4: oklch(0.3805 0.0766 252.7321);
  --chart-5: oklch(0.3440 0.0630 254.5895);
  --sidebar: oklch(0.9726 0.0086 264.5223);
  --sidebar-foreground: oklch(0.3440 0.0630 254.5895);
  --sidebar-primary: oklch(0.5735 0.1160 250.2197);
  --sidebar-primary-foreground: oklch(0.9726 0.0086 264.5223);
  --sidebar-accent: oklch(0.6664 0.1002 248.6961);
  --sidebar-accent-foreground: oklch(0.3440 0.0630 254.5895);
  --sidebar-border: oklch(0.7818 0.0658 249.3811);
  --sidebar-ring: oklch(0.5211 0.1199 252.9869);
  --font-sans: "Nunito Sans", sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-nunito_sans: "Nunito Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --radius: 0.625rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.1654 0.0203 251.8910);
  --foreground: oklch(0.9726 0.0086 264.5223);
  --card: oklch(0.2629 0.0464 257.8495);
  --card-foreground: oklch(0.9726 0.0086 264.5223);
  --popover: oklch(0.2629 0.0464 257.8495);
  --popover-foreground: oklch(0.9726 0.0086 264.5223);
  --primary: oklch(0.9726 0.0086 264.5223);
  --primary-foreground: oklch(0.5735 0.1160 250.2197);
  --secondary: oklch(0.4198 0.0942 254.3441);
  --secondary-foreground: oklch(0.9726 0.0086 264.5223);
  --muted: oklch(0.4198 0.0942 254.3441);
  --muted-foreground: oklch(0.8834 0.0344 249.5870);
  --accent: oklch(0.5211 0.1199 252.9869);
  --accent-foreground: oklch(0.9726 0.0086 264.5223);
  --destructive: oklch(0.4198 0.0942 254.3441);
  --destructive-foreground: oklch(0.3805 0.0766 252.7321);
  --border: oklch(0.4198 0.0942 254.3441);
  --input: oklch(0.4198 0.0942 254.3441);
  --ring: oklch(0.5211 0.1199 252.9869);
  --chart-1: oklch(0.5211 0.1199 252.9869);
  --chart-2: oklch(0.5735 0.1160 250.2197);
  --chart-3: oklch(0.4198 0.0942 254.3441);
  --chart-4: oklch(0.6664 0.1002 248.6961);
  --chart-5: oklch(0.7818 0.0658 249.3811);
  --sidebar: oklch(0.3440 0.0630 254.5895);
  --sidebar-foreground: oklch(0.9726 0.0086 264.5223);
  --sidebar-primary: oklch(0.5211 0.1199 252.9869);
  --sidebar-primary-foreground: oklch(0.9726 0.0086 264.5223);
  --sidebar-accent: oklch(0.4198 0.0942 254.3441);
  --sidebar-accent-foreground: oklch(0.9726 0.0086 264.5223);
  --sidebar-border: oklch(0.4198 0.0942 254.3441);
  --sidebar-ring: oklch(0.5211 0.1199 252.9869);
  --font-sans: Nunito Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme {
  --font-nunito: "Nunito Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}